 <nav class="sidebar">
      <h1 class="logo">Instagram</h1>
      <ul>
        <li>
          <a href="#"><i class="icon-home"></i> Home</a>
        </li>
        <li>
          <a href="#"><i class="icon-search"></i> Search</a>
        </li>
        <li>
          <a href="#"><i class="icon-explore"></i> Explore</a>
        </li>
        <li>
          <a href="#"><i class="icon-reels"></i> Reels</a>
        </li>
        <li>
          <a href="#"><i class="icon-messages"></i> Messages</a>
        </li>
        <li>
          <a href="#"><i class="icon-notifications"></i> Notifications</a>
        </li>
        <li>
          <a href="#"><i class="icon-create"></i> Create</a>
        </li>
        <li>
          <a href="#"><i class="icon-profile"></i> Profile</a>
        </li>
      </ul>
    </nav>